<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="vh-100">
      <div class="p-4 text-center text-white" style="background-color: #6b0f0f">
        <h1>welcome</h1>
      </div>
      <div class="p-5">
        <form action="" method="post">
          {% csrf_token %} {{ form }}
          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>

        {% if result %}
        <pre class="h1 p-0">{{ result }}</pre>
        {% endif %}
      </div>
      <div class="p-4 text-center text-white" style="background-color: #6b0f0f">
        <h1>Goodbye</h1>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
